<h1>検索結果</h1>
満足のいく検索結果がなければ、Googleで検索してください。<br />
（もちろんYahoo!でも可）

<table class="table table-striped">
<% @data1.each do |row| %>
	  	<tr>
    		<td><%= row[2] %></td>
            <% row.each do |i| %>
    		    <td><%= row[i] %></td>
            <% end %>
  		</tr>
<% end %>
<% @data2.each do |row| %>
    <tr>
        <td><%= row[4] %></td>
            <% row.each do |i| %>
    		    <td><%= row[i] %></td>
            <% end %>
    </tr>
<% end %>
<% @data3.each do |row|%>
	  	<tr>
    		<td><%= row[2] %></td>
            <% row.each do |i| %>
    		    <td><%= row[i] %></td>
            <% end %>
  		</tr>
<% end %>
	</tbody>
</table>
