<h1>検索結果</h1>
満足のいく検索結果がなければ、Googleで検索してください。
<a href="https://www.google.co.jp/#q=<%= @search_text %>" target="_blank">Googleで "<%= @search_text %>" を検索</a><br />
（もちろんYahoo!でも可）
<a href="http://search.yahoo.co.jp/search?p=<%= @search_text %>" target="_blank">Yahoo!で "<%= @search_text %>" を検索</a><br />
（それともBingという手もあり？）
<a href="https://www.bing.com/search?q=<%= @search_text %>" target="_blank">Bingで "<%= @search_text %>" を検索</a>

<table class="table table-striped">
<thead>
	<tr>
		<th>書名</th>
	</tr>
</thead>
<% @data1.each do |row| %>
	  	<tr>
    		<td><a href="/browse/<%= row[1]%>/<%= row[0] %>"><%= row[2] %></a></td>
            <% row.each do |i| %>
    		    <td><%= row[i.to_i] %></td>
            <% end %>
  		</tr>
<% end %>
<% @data2.each do |row| %>
    <tr>
        <td><%= row[4] %></td>
            <% row.each do |i| %>
    		    <td><%= row[i.to_i] %></td>
            <% end %>
    </tr>
<% end %>
<!--検索文字列が数値の時のみ検索-->
<% if defined? @data3 %>
	<% @data3.each do |row|%>
	  		<tr>
    			<td><%= row[2] %></td>
            	<% row.each do |i| %>
    		    	<td><%= row[i.to_i] %></td>
            	<% end %>
  			</tr>
	<% end %>
<% end %>
	</tbody>
</table>
